*{
    margin: 0;
}
.box1{
    margin: 200px 400px;
    display: flex;
    height: 300px ;
    width: 300px;
    background-color: skyblue;
    position: relative;
    border: 5px solid blue;

}
h2{
    justify-content: center;
    text-align: center;
    color: darkblue;
    margin: 100px 100px;
    font-size: 40px;
}



.Dj{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    animation: Dj1 5s infinite;
    margin: 0;
    display: flex;
    /* padding: 300px 300px; */
    position: relative;
    margin-top: 70px;
    margin-left: 70px;

}
h1{
    color: yellow;
    /* left: 50%;
    right: 50%; */
    animation: Dj1 5s infinite;
    text-align: center;
    justify-content: center;
    /* padding: 200px; */
    margin: 0;
    position: absolute;
}


@keyframes Dj1{
   0%{width: 200px;height: 200px; color: red;}
   25%{width: 160px;height: 160px;color: red;}
   50%{width: 120px;height: 120px; color: red;}
   75%{width: 80px;height: 80px; color: yellow;}
   100%{width: 40px;height: 40px; color: yellow;}
}
.Dj{
    position: absolute;
}

